<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
<!-- Include header -->
<th:block th:include="/_header"></th:block>
</head>
<body>
	<h2>Danh Sách Sản Phẩm</h2>
	<div class="container-fluid">
		<!-- Start Header San Pham -->
		<th:block th:include="/headerSanPham"></th:block>
		<!-- /End Header San Pham -->
		<!-- Start Body San Pham -->
		<th:block th:include="/bodySanPham"></th:block>
		<!-- End Body San Pham -->
	</div>
</body>
</html>