<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangducluan.mapper.DanhMucSanPhamMapper">
	<select id="layToanBoDanhMucSanPham" resultMap="DanhMucSanPhamResult">
		select * from danhmucsanpham
	</select>
	<resultMap type="DanhMucSanPham" id="DanhMucSanPhamResult">
		<id property="madanhmuc" column="madanhmuc"/>
		<result property="tendanhmuc" column="tendanhmuc"/>
	</resultMap>
</mapper>