<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
<!-- Include Header -->
<th:block th:include="/_header"></th:block>
</head>
<body>
	<div class="container">
		<div class="row">
			<button type="button" id="btn-themsp"  class="btn btn-primary" data-toggle="modal"
				data-target="#myModal">Thêm</button>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Mã sản phẩm</th>
						<th>Tên sản phẩm</th>
						<th>Hình sản phẩm</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="sp : ${dsSanPham}">
						<td th:utext="${sp.masanpham}"></td>
						<td th:utext="${sp.tensanpham}"></td>
						<td><img alt=""
							th:src="@{|/image/sanpham/${sp.hinhsanpham}|}" width="250"
							height="250" th:data-hinhsp="${sp.hinhsanpham}"></td>
						<td>
							<button type="button" class="btn btn-warning btn-suasanpham" th:data-masp="${sp.masanpham}" data-toggle="modal"
				data-target="#myModal">Sửa</button>
							<button type="button" class="btn btn-danger btn-xoasanpham" th:data-masp="${sp.masanpham}">Xóa</button>
							<button type="button" class="btn btn btn-info">
								<a th:href="@{|/sanpham/chitietsanpham/${sp.masanpham}|}">Chi tiết</a>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
				<!-- Modal content-->
					<div class="modal-content">
						<form role="form" id="formsanpham">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Thêm sản phẩm</h4>
							</div>
							<div class="modal-body">
									<div class="form-group">
										<label for="tensanpham">Tên sản phẩm :</label> <input type="text" name="tensanpham"
											class="form-control">
									</div>
									<div class="form-group">
										<label for="mota">Mô tả :</label>
										<textarea class="form-control" rows="5" name="mota"></textarea>
									</div>
									<div class="form-group">
										<label for="hinhsanpham">Hình sản phẩm :</label>
										 <input type="file" id="hinhsanpham" name="hinhsanpham"
											class="form-control">
											<input type="file" id="hinhsanpham" name="hinhsanpham"
											class="form-control">
									</div>
									<div class="form-group">
										<label for="sel1">Danh Mục :</label> <select class="form-control"
											id="danhmuc" name="madanhmuc">
											<option th:each="danhmuc : ${dsDanhMuc}"
												th:value="${danhmuc.madanhmuc}"
												th:utext="${danhmuc.tendanhmuc}"></option>
										</select>
									</div>
								<div id="container-chitietsanpham">
									<div class="themchitietsanpham">
										<div class="form-group">
											<label for="sel1">Mã màu :</label> <select class="form-control"
												id="mamau" name="mamau">
												<option th:each="mausp : ${dsMau}" th:value="${mausp.mamau}"
													th:utext="${mausp.tenmau}"></option>
											</select>
										</div>
										<div class="form-group">
											<label for="sel1">Mã Size :</label> <select
												class="form-control" id="masize" name="masize">
												<option th:each="sizesp : ${dsSize}"
													th:value="${sizesp.masize}" th:utext="${sizesp.size}"></option>
											</select>
										</div>
										<button type="button" class="btn btn-success btn-themchitiet">Thêm</button>
									</div>
		
								</div>
								<div class="themchitietsanpham" id="chitietsanpham">
									<div class="form-group">
										<label for="sel1">Mã màu :</label> <select class="form-control"
											id="mamau" name="mamau">
											<option th:each="mausp : ${dsMau}" th:value="${mausp.mamau}"
												th:utext="${mausp.tenmau}"></option>
										</select>
									</div>
									<div class="form-group">
										<label for="sel1">Mã Size :</label> <select class="form-control"
											id="masize" name="masize">
											<option th:each="sizesp : ${dsSize}"
												th:value="${sizesp.masize}" th:utext="${sizesp.size}"></option>
										</select>
									</div>
									<button type="button" class="btn btn-success btn-themchitiet">Thêm</button>
									<button type="button" class="btn btn-danger btn-xoachitiet">Xóa</button>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary btn-themsanpham">Thêm
									sản phẩm</button>
								<button type="button" class="btn btn-default btn-huyform" data-dismiss="modal">Đóng</button>
							</div>
						</form>
					</div>
		</div>
	</div>
</body>
</html>